antlr4-python3-runtime>=4.11.1,<4.12
jinja2

# test requirements
pre-commit
black
mypy
flake8
autopep8
pylint
pytest
pytest-cov
pytest-mock
pytest-spark
pytest-rerunfailures
sphinx>=2.4.0
sphinx-rtd-theme
sphinx-autodoc-typehints
psutil

# publish to pypi
wheel
twine

Cython
cibuildwheel==2.5.0
speedy-antlr-tool

# fix
markupsafe==2.0.1
